.login_form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 350px;
    font-size: 1.1em;
    padding: 15px;
}

.login_form .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login_form .label input {
    width: 180px;
    outline: none;
}

.login_form input.error {
    border: 2px solid red;
}

.login_form .checkbox_label  input {
    margin-right: 15px;
}

.login_form .error_message {
    width: 100%;
    color: red;
    text-align: center;
    font-size: 1rem;
}

.login_form .button {
    display: block;
}