.dialogs_content {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    min-height: 450px;
}

.add_message {
    grid-column: 2;
    padding: 15px;
}