.header {
    display: grid;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    grid-row: header;
    background-color: limegreen;
    text-align: center;
}

.header .grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / -2;
}

.header .grid_item > h2 {
    margin: 0 auto;
}