.pagination_bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination_bar > * {
    cursor: pointer;
}

.pagination_bar > *:hover {
    text-decoration: underline;
}

.selected_page {
    font-weight: bold;
}