html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a,
a:link,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
}

.app {
    display: grid;
    grid-template-rows:
            [header-start] 50px [header-end
            main-start] 1fr [main-end
            footer-start] 50px [footer-end];
    grid-template-columns: minmax(20px, 1fr) 200px minmax(auto, 800px) minmax(20px, 1fr);
    min-height: 100vh;
}

.main_content {
    grid-column: 3;
    grid-row: 2;
    background-color: aquamarine;
}



