html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.app {
    display: grid;
    grid-template-rows: [header-start] 50px [header-end] 1fr [footer-start] 50px [footer-end];
    grid-template-columns: 1fr 200px minmax(auto, 800px) 1fr;
    min-height: 100vh;
}



